<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= bootstrap_form_with( url: session_path, class: "w-100") do |form| %>
  <%= form.email_field(
    :email_address,
    required: true,
    autofocus: true,
    autocomplete: "username",
    placeholder: "Enter your email address",
    value: params[:email_address],
  ) %>
  <%= form.password_field(
    :password,
    required: true,
    autocomplete: "current-password",
    placeholder: "Enter your password",
    maxlength: 72,
    size: 42,
  ) %>
  <%= form.submit( "Sign in", extra_class: "mb-3") %>
<% end %>

<div class="d-flex justify-content-between">
  <div>
    <%= link_to_home %>
    <%= image_tag("aug-logo-verapax-2025-no-text.png", class: "verapax-logo-small") %>
  </div>
  <%= link_to "Forgot password?", new_password_path %>
</div>
