<div class="d-flex flex-column">
  <div class="hero">
    <div class="d-flex justify-content-around align-items-center bg-body-tertiary">
      <div class="mx-4" style="width: 25vw;">
        <h1>Contact Us</h1>
      </div>
      <%= image_tag(
        "angela-dibujo-cropped-nobackground-7.png",
        alt: "Drawing of Angela",
        style: "max-width: 30vw; max-height: auto; display: block;",
        ) %>
    </div>
  </div>
</div>

<div class="concave-up bg-secondary"></div>
<div class="d-flex align-items-center justify-content-around bg-secondary text-white">
  <div class="p-4 contact-form" style="width: 40vw;">
    <h4>Use Our Secure Contact Form</h4>
    <%= bootstrap_form_with(model: @contact || Contact.new, class: "mb-4", html: { novalidate: true }, url: create_contact_path) do |contact_form| %>
      <%= contact_form.text_field(:name) %>
      <%= contact_form.email_field(
        :email_address,
        help: email_help,
        ) %>
      <%= contact_form.text_area(:message, style: "min-height: 5lh;") %>
      <div class="d-flex justify-content-between align-items-center">
        <%= contact_form.submit("Send", class: "btn btn-outline-light") %>
        <%= link_to("Privacy and Confidentiality Policy", privacy_policy_path, class: "link-light") %>
      </div>
    <% end %>
  </div>
  <div class="p-4" style="width: 40vw;">
    <h4>Book a Free 15-Minute Exploration Call</h4>
    <p class="mb-5">
      Book your call on our
      <%= link_to("Calendly", "https://calendly.com/verapax/contactangela", class: "link-light") %>
    </p>
    <h4 class="mb-4">Mailing Address</h4>
    <h5>Canadian Office</h5>
    <address>
      312 Main St. 2nd Floor<br/>
      Vancouver BC  V6A 2T2
      Canada
    </address>
    <h5>Guatemalan Office</h5>
    <address>
      Cantón Exposición<br/>
      Ruta 4 Zona 4
      Guatemala
    </address>
  </div>
</div>

<%= render partial: "footer" %>
