<div class="d-flex flex-column">
  <div class="hero">
    <div class="d-flex justify-content-around bg-body-tertiary">
      <%= image_tag(
        "Logo-Verapax-ENG-nobackground-cropped-2026.png",
        alt: "Verapax Logo",
        class: "mx-4",
        style: "width: 25vw; height: auto; display: block; object-fit: contain;",
      ) %>
      <%= image_tag(
        "angela-dibujo-cropped-7.png",
        alt: "Drawing of Angela",
        style: "max-width: 30vw; max-height: auto; display: block;",
        ) %>
    </div>
  <div class="w-100 rounded-edge bg-body-tertiary" style="margin-top: -0.5px;"></div>
</div>

<div class="row align-items-center justify-content-around bg-secondary p-4">
  <div class="image-box text-center pb-4 pb-lg-0 order-lg-2", style="max-width: 33vw;">
    <%= image_tag("point-at-map-cropped-nobackground-3.png") %>
  </div>
  <div class="order-lg-1", style="max-width: 33vw;">
    <h3 class="text-center pb-4">Verapax</h3>
    <p>
      Collaborative, participatory, empowering, and transformational approach to research, and evaluation.
    </p>
    <p>
      A boutique, community-based, community-centred consulting firm for equitable systems change.
    </p>
  </div>
</div>
</div>

<div class="row align-items-center justify-content-around bg-body-tertiary p-4">
  <div class="image-box text-center pb-4 pb-lg-0", style="max-width: 33vw;">
    <%= image_tag("panel-cropped-nobackground-9.png", alt: "Panel speaking in front of audience") %>
  </div>
  <div class="col-lg-6">
    <h3 class="text-center pb-4">Our Name Means</h3>
    <p>
      The spirit of our name Verapax reflects our values, where we come from and the knowledge of our ancestors.
    </p>
  </div>
</div>

<div class="bg-verapax-yellow p-4">
  <h1 class="text-center">Our Services</h1>

  <div class="d-flex align-items-top justify-content-around">
    <div class="bg-body-tertiary text-center" style="height: 20vh; width: 10vw;">
      Research
    </div>
    <div class="bg-body-tertiary text-center" style="height: 20vh; width: 10vw;">
      Evaluation
    </div>
    <div class="bg-body-tertiary text-center" style="height: 20vh; width: 10vw;">
      Another Service
    </div>
    <div class="bg-body-tertiary text-center" style="height: 20vh; width: 10vw;">
      And Another Service
    </div>
  </div>
</div>

<div class="container-fluid align-items-center bg-black invert-icons">
  <div class="d-flex justify-content-center py-4">
    <a href="https://instagram.com/verapax_" class="mx-3" target="_blank">
      <i class="bi bi-instagram h2"><span class="visually-hidden">Instagram</span></i>
    </a>
    <a href="https://www.linkedin.com/company/verapax-evaluations/" class="mx-3" target="_blank">
      <i class="bi bi-linkedin h2"><span class="visually-hidden">LinkedIn</span></i>
    </a>
    <a href="https://www.youtube.com/@video.verapax/" class="mx-3" target="_blank">
      <i class="bi bi-youtube h2"><span class="visually-hidden">YouTube</span></i>
    </a>
  </div>
  <hr class="border border-white border-1 opacity-100 my-0" />
  <div class="d-flex justify-content-center py-4">
    <%= link_to("Privacy Policy", "#", class: "text-white mx-5") %>
    <%= link_to("Contact Us", new_contact_path, class: "text-white mx-5") %>
  </div>
</div>
