<div class="d-flex flex-column">
  <div class="hero">
    <div class="d-flex justify-content-around bg-body-tertiary">
      <%= image_tag(
        "Logo-Verapax-text-white-nobackground-cropped-2026.png",
        alt: "Verapax Logo",
        class: "mx-4",
        style: "width: 25vw; height: auto; display: block; object-fit: contain;",
      ) %>
      <%= image_tag(
        "angela-dibujo-cropped-nobackground-7.png",
        alt: "Drawing of Angela",
        style: "max-width: 30vw; max-height: auto; display: block;",
        ) %>
    </div>
  </div>
</div>

<div class="concave-up bg-secondary"></div>
<div class="d-flex align-items-center justify-content-around bg-secondary text-white">
  <div class="image-box text-center pb-4 pb-lg-0 order-lg-2 p-4", style="max-width: 33vw;">
    <%= image_tag("point-at-map-cropped-nobackground-3.png") %>
  </div>
  <div class="order-lg-1", style="max-width: 33vw;">
    <h3 class="text-center pb-4">Verapax</h3>
    <p>
      Collaborative, participatory, empowering, and transformational approach to research, and evaluation.
    </p>
    <p>
      A boutique, community-based, community-centred consulting firm for equitable systems change.
    </p>
  </div>
</div>
<div class="concave-down bg-secondary"></div>

<div class="bg-body-tertiary"></div>
<div class="d-flex align-items-center justify-content-around bg-body-tertiary text-white">
  <div class="image-box text-center pb-4 pb-lg-0 p-4", style="max-width: 33vw;">
    <%= image_tag("panel-cropped-nobackground-9.png", alt: "Panel speaking in front of audience") %>
  </div>
  <div class="col-lg-6">
    <h3 class="text-center pb-4">Our Name Means</h3>
    <p>
      The spirit of our name Verapax reflects our values, where we come from and the knowledge of our ancestors.
    </p>
  </div>
</div>

<div class="concave-up bg-verapax-yellow"></div>
<div class="bg-verapax-yellow p-4 text-white">
  <h1 class="text-center">Our Services</h1>

  <div class="d-flex align-items-top justify-content-around">
    <div class="bg-service text-center pt-5" style="height: 40vh; width: 20vw;">
      <h4>
        Research
      </h4>
    </div>
    <div class="bg-service text-center pt-5" style="height: 40vh; width: 20vw;">
      <h4>
        Evaluation
      </h4>
    </div>
    <div class="bg-service text-center pt-5" style="height: 40vh; width: 20vw;">
      <h4>
        Another Service
      </h4>
    </div>
    <div class="bg-service text-center pt-5" style="height: 40vh; width: 20vw;">
      <h4>
        And Another Service
      </h4>
    </div>
  </div>
</div>

<div class="container-fluid align-items-center bg-black invert-icons footer">
  <div class="d-flex justify-content-center py-4">
    <a href="https://instagram.com/verapax_" class="mx-3" target="_blank">
      <i class="bi bi-instagram h2"><span class="visually-hidden">Instagram</span></i>
    </a>
    <a href="https://www.linkedin.com/company/verapax-evaluations/" class="mx-3" target="_blank">
      <i class="bi bi-linkedin h2"><span class="visually-hidden">LinkedIn</span></i>
    </a>
    <a href="https://www.youtube.com/@video.verapax/" class="mx-3" target="_blank">
      <i class="bi bi-youtube h2"><span class="visually-hidden">YouTube</span></i>
    </a>
  </div>
  <hr class="border border-white border-1 opacity-100 my-0" />
  <div class="grid py-4">
    <%= link_to("Privacy Policy", "#", class: "text-white text-center mx-5") %>
    <%= render partial: "acknowledgement" %>
    <%= link_to("Contact Us", new_contact_path, class: "text-white text-center mx-5") %>
  </div>
</div>
