<h3 class="text-center mb-3">Life-Long Learning</h3>
<div class="row">
  <div class="col-lg-8 offset-lg-2 d-flex justify-content-center image-box mb-lg-3">
    <%= image_tag("knowledge-exchange-11-aug-636x636.jpg") %>
  </div>
  <div class="col-lg-8 offset-lg-2">
    <p>
      Our evaluation practice is relational, contextualized, and consistent with the knowledges, expectations of
      people – especially those historically and systemically invisibilized -- in the communities we do evaluation
      with.
    </p>

    <p>
      We acknowledge that mainstream evaluation approaches often marginalize both Indigenous-ancestral knowledge
      systems and evaluators original from the Global South or systemically disadvanta
      ged communities. We are a small consulting firm, but we are committed to deconstructing centuries of
      Western/European epistemological dominance over Indigenous knowledge systems. Our active membership in
      professional evaluation associations and relevant communities of practice, provides us continued space to deepen
      our knowledge and practice, while recognising and uplifting Indigenous paradigms.</p>
    <p>
      We are active members of <%= link_to("EvalIndigenous", "https://www.evalindigenous.net/", target: "_blank") %>,
      a volunteer-driven international organization, formed in 2017, framed within the
      <%=
        link_to(
          "United Nations Declaration on the Rights of Indigenous Peoples",
          "https://www.un.org/development/desa/indigenouspeoples/wp-content/uploads/sites/19/2018/11/UNDRIP_E_web.pdf",
          target: "_blank"
        )
      %>
      (2007), to ensure that
      evaluation policies and practices uphold the sovereign rights of Indigenous peoples. EvalIndigenous is one of
      the five networks of <%= link_to("EvalPartners", "https://evalpartners.org/", target: "_blank") %>; a global movement to
      support the evaluation discipline to become a core instrument for social, economic and environmental
      transformation.
    </p>
    <p>
      In line with our commitment to building evaluation capacity locally and globally, and upholding the rights and
      knowledge of Indigenous Peoples and people of Indigenous and African descent, Since 2024, we have been active members of the
      <%=
        link_to(
          "South African Monitoring & Evaluation Association (SAMEA)",
          "https://www.samea.org.za/about/#who-is-samea",
          target: "_blank"
        )
      %>;
      a voluntary organization of
      professional evaluation that promotes monitoring and evaluation as an important discipline and instrument for
      equitable and sustainable development in South Africa and beyond. SAMEA is recognized by the EvalYouth Global
      Network, as a Youth in Evaluation Super Champion. That’s why we collaborate with
      <%= link_to("SAMEA’s Emerging Evaluators (EE) Programme", "https://www.samea.org.za/emerging-evaluators/", target: "_blank") %>,
      which nurtures the next generation of evaluators. Every year, we provide short-term paid
      internships and practicum opportunities that offer platforms for growth and meaningful contributions to the
      field for young and emergent evaluators in South Africa and the Americas.</p>
    <p>
      Our consulting firm operates within the guidelines, standards and competences frameworks established by:
    </p>
    <ul>
      <li>
        <%= link_to(
          "Canadian Evaluation Society Evaluation Competences",
          "https://evaluationcanada.ca/career/evaluator-competencies.html", target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to(
          "South African Monitoring and Evaluation Association. Evaluation Competences and Framework",
          "https://www.samea.org.za/evaluator-competencies/#framework", target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to(
          "Made in Africa Evaluation",
          "https://afrea.org/sdm_downloads/mae-handbook-e-pub/", target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to(
          "Red de Seguimiento, Evaluación y Sistematización de Latinoamérica y El Caribe (ReLAC)",
          "https://relac.net/v3/estandares-de-evaluacion/", target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to(
          "EvalIndigenous Wolastock Declaration on Indigenous Evaluation",
          "https://www.evalindigenous.net/wolastoq-declaration.html", target: "_blank"
        ) %>
      </li>
      <li>
        <%= link_to(
          "Project Management Institute. The Standard for Project Management",
          "https://www.pmi.org/standards/pmbok", target: "_blank"
        ) %>
      </li>
    </ul>
  </div>
</div>
