<h3 class="text-center mb-3">Our People</h3>
<div class="row">
  <div class="col-lg-8 offset-lg-2 d-flex justify-content-center image-box mb-lg-3">
    <%= image_tag("P-Badge-Pushpin-Red-WhiteFill-450-RGB-636x636.jpg") %>
  </div>
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex">
      <ul class="list-unstyled">
        <li class="mb-3 px-2">
          Angela M. Contreras<br>
          Founder, Director and Principal Consultant<br>
          <%= link_to(nil, "https://www.linkedin.com/in/angelam-contreras/", target: "_blank") %><br>
          E-mail: <%= mail_to("angela.contreras@verapax.org") %>
        </li>

        <li class="mb-3 px-2">
          Marcos R.C.<br>
          Global Projects Administrator<br>
          E-mail: <%= mail_to("projects@verapax.org") %>
        </li>

        <li class="mb-3 px-2">
          Antonio Contreras<br>
          Operations and Logistics<br>
          E-mail: <%= mail_to("logistics@verapax.org") %>
        </li>
      </ul>
      <div>
        <h5>Special Projects Collaborators</h5>
        Karla Contreras Rodríguez<br>
        Silvana Contreras Rodríguez<br>
        Esmeralda Cruz<br>
        Osiris López<br>
        Ida Reiman<br>
        Adriana Contreras<br>
        Adriana Maldonado<br>
        Larry Reid<br>
        Bev Ma<br>
        Farrah Chan<br>
        Chonito Carrillo<br>
        Simeón Andrés Carrillo<br>
        Yumi Onozawa
      </div>
    </div>
  </div>
</div>
