<div class="d-flex flex-column">
  <div class="hero">
    <div class="d-flex justify-content-around bg-body-tertiary">
      <%= image_tag(
        "Logo-Verapax-text-white-nobackground-cropped-2026.png",
        alt: "Verapax Logo",
        class: "mx-4",
        style: "width: 25vw; height: auto; display: block; object-fit: contain;",
      ) %>
      <%= image_tag(
        "angela-dibujo-cropped-nobackground-7.png",
        alt: "Drawing of Angela",
        style: "max-width: 30vw; max-height: auto; display: block;",
        ) %>
    </div>
  </div>
</div>

<div class="concave-up bg-secondary"></div>
<div class="grid-max-2 grid-centred bg-secondary text-white px-2 px-sm-5 pb-2 pb-sm-5">
  <div class="image-box text-center pb-4 pb-lg-0 order-md-2 p-4">
    <%= image_tag("taller-nobackground-12.png", alt: "Angela leading workshop in informal setting") %>
  </div>
  <div class="order-md-1">
    <%= render partial: "services_01" %>
    <%= link_to("Book a Free 15-Minute Exploration Call", contact_us_path, class: "btn btn-secondary btn-outline-light text-white") %>
  </div>
</div>

<div class="concave-down bg-secondary"></div>

<div class="bg-body-tertiary"></div>
<div class="grid-max-2 grid-centred bg-body-tertiary text-white px-2 px-sm-5">
  <div class="image-box text-center pb-4 pb-lg-0 p-4">
    <%= image_tag("panel-cropped-nobackground-9.png", alt: "Panel speaking in front of audience") %>
  </div>
  <div class="d-flex flex-column">
    <%= render partial: "services_02" %>
  </div>
</div>

<%= render partial: "footer" %>
