<div class="d-flex justify-content-between border p-1 mb-2" id="<%= dom_id(contact) %>">
  <%= tag.div(contact.name, class: "flex-grow-1") %>
  <%= tag.div(contact.email_address, class: "flex-grow-1") %>
  <%= tag.div(truncate(contact.message, length: 20), class: "flex-grow-1") %>
  <%= link_to("Read", contact_path(contact), class: "btn btn-sm") %>
</div>
