<div class="d-flex flex-column">
  <div class="hero">
    <div class="d-flex justify-content-around align-items-center bg-body-tertiary">
      <div class="mx-4" style="width: 25vw;">
        <h1>Contact Us</h1>
      </div>
      <%= image_tag(
        "angela-dibujo-cropped-nobackground-7.png",
        alt: "Drawing of Angela",
        style: "max-width: 30vw; max-height: auto; display: block;",
        ) %>
    </div>
  </div>
</div>

<div class="concave-up bg-secondary"></div>
<div class="d-flex align-items-center justify-content-around bg-secondary text-white">
  <div class="p-4" style="width: 40vw;">
    <h4>Use Our Secure Contact Form</h4>
    <%= bootstrap_form_with(model: @contact, class: "mb-4") do |contact_form| %>
      <%= contact_form.text_field(:name) %>
      <%= contact_form.email_field(
        :email_address,
        help: email_help,
        ) %>
      <%= contact_form.text_area(:message) %>
      <%= contact_form.submit("Send", class: "text-white btn btn-primary") %>
    <% end %>
  </div>
  <div class="p-4" style="width: 40vw;">
    <h4>Book a Free 30 Minute Consultation</h4>
    <p class="mb-4">
      Book your consultation on our
      <%= link_to("Calendly", "https://calendly.com/verapax/contactangela") %>
    </p>
    <h4>Mailing Address</h4>
    <h5>Canadian Office</h5>
    <address>
      312 Main St. 2nd Floor<br/>
      Vancouver BC  V6A 2T2
      Canada
    </address>
    <h5>Guatemalan Office</h5>
    <address>
      Cantón Exposición<br/>
      Ruta 4 Zona 4
      Guatemala
    </address>
  </div>
</div>
