<nav class="navbar bg-body-black container-fluid mb-4">
  <div class="container-fluid justify-content-start">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#public-menu" aria-controls="public-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center mx-2 me-auto" do %>
      <%= image_tag("all-white-Logo-only-Verapax-ENG-nobackground-150x51-2026.png", class: "verapax-logo-small") %>
    <% end %>

    <div class="d-flex">
      <%= search_form(url: false, scope: :site, class: "d-none d-md-inline-block") do |form| %>
      <%= search_field_for_form(form:, class: "input-group px-2") %>
      <% end %>

      <% unless current_page?(new_contact_path) %>
      <div>
        <%= link_to("Contact Us", new_contact_path, class: "btn btn-sm bg-secondary text-light") %>
      </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="public-menu">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to_home(nav_link_attributes(root_path)) %>
        </li>
        <li class="nav-item">
          <%= link_to("Privacy Policy", privacy_policy_path, **nav_link_attributes(privacy_policy_path)) %>
        </li>
        <% if authenticated? %>
        <li class="nav-item">
          <%= sign_out_link(class: "nav-link") %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
